<settings>

    <setting propertyKey="@Properties.topLeftMetric" title="@Strings.TopLeftMetric" prompt="@Strings.MetricPrompt">
    <settingConfig type="list">
            <listEntry value="0">@Strings.HeartRate</listEntry>
            <listEntry value="2">@Strings.StepsCount</listEntry>
            <listEntry value="1">@Strings.WatchBattery</listEntry>
            <listEntry value="3">@Strings.Stress</listEntry>
            <listEntry value="5">@Strings.Calories</listEntry>
            <listEntry value="6">@Strings.Distance</listEntry>
            <listEntry value="4">@Strings.Respiration</listEntry>
            <listEntry value="7">@Strings.ActiveMinutes</listEntry>
            <listEntry value="9">@Strings.BodyBattery</listEntry>
            <listEntry value="10">@Strings.MoveBar</listEntry>
        </settingConfig>
    </setting>

        <setting propertyKey="@Properties.topMetric" title="@Strings.TopMetric" prompt="@Strings.MetricPrompt">
    <settingConfig type="list">
            <listEntry value="0">@Strings.HeartRate</listEntry>
            <listEntry value="2">@Strings.StepsCount</listEntry>
            <listEntry value="1">@Strings.WatchBattery</listEntry>
            <listEntry value="3">@Strings.Stress</listEntry>
            <listEntry value="5">@Strings.Calories</listEntry>
            <listEntry value="6">@Strings.Distance</listEntry>
            <listEntry value="4">@Strings.Respiration</listEntry>
            <listEntry value="7">@Strings.ActiveMinutes</listEntry>
            <listEntry value="8">@Strings.Weather</listEntry>
            <listEntry value="9">@Strings.BodyBattery</listEntry>
            <listEntry value="10">@Strings.MoveBar</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.topRightMetric" title="@Strings.TopRightMetric" prompt="@Strings.MetricPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.HeartRate</listEntry>
            <listEntry value="2">@Strings.StepsCount</listEntry>
            <listEntry value="1">@Strings.WatchBattery</listEntry>
            <listEntry value="3">@Strings.Stress</listEntry>
            <listEntry value="5">@Strings.Calories</listEntry>
            <listEntry value="6">@Strings.Distance</listEntry>
            <listEntry value="4">@Strings.Respiration</listEntry>
            <listEntry value="7">@Strings.ActiveMinutes</listEntry>
            <listEntry value="9">@Strings.BodyBattery</listEntry>
            <listEntry value="10">@Strings.MoveBar</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.bottomLeftMetric" title="@Strings.BottomLeftMetric" prompt="@Strings.MetricPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.HeartRate</listEntry>
            <listEntry value="2">@Strings.StepsCount</listEntry>
            <listEntry value="1">@Strings.WatchBattery</listEntry>
            <listEntry value="3">@Strings.Stress</listEntry>
            <listEntry value="5">@Strings.Calories</listEntry>
            <listEntry value="6">@Strings.Distance</listEntry>
            <listEntry value="4">@Strings.Respiration</listEntry>
            <listEntry value="7">@Strings.ActiveMinutes</listEntry>
            <listEntry value="9">@Strings.BodyBattery</listEntry>
            <listEntry value="10">@Strings.MoveBar</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.bottomMetric" title="@Strings.BottomMetric" prompt="@Strings.MetricPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.HeartRate</listEntry>
            <listEntry value="2">@Strings.StepsCount</listEntry>
            <listEntry value="1">@Strings.WatchBattery</listEntry>
            <listEntry value="3">@Strings.Stress</listEntry>
            <listEntry value="5">@Strings.Calories</listEntry>
            <listEntry value="6">@Strings.Distance</listEntry>
            <listEntry value="4">@Strings.Respiration</listEntry>
            <listEntry value="7">@Strings.ActiveMinutes</listEntry>
            <listEntry value="8">@Strings.Weather</listEntry>
            <listEntry value="9">@Strings.BodyBattery</listEntry>
            <listEntry value="10">@Strings.MoveBar</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.bottomRightMetric" title="@Strings.BottomRightMetric" prompt="@Strings.MetricPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.HeartRate</listEntry>
            <listEntry value="2">@Strings.StepsCount</listEntry>
            <listEntry value="1">@Strings.WatchBattery</listEntry>
            <listEntry value="3">@Strings.Stress</listEntry>
            <listEntry value="5">@Strings.Calories</listEntry>
            <listEntry value="6">@Strings.Distance</listEntry>
            <listEntry value="4">@Strings.Respiration</listEntry>
            <listEntry value="7">@Strings.ActiveMinutes</listEntry>
            <listEntry value="9">@Strings.BodyBattery</listEntry>
            <listEntry value="10">@Strings.MoveBar</listEntry>
            </settingConfig>
    </setting>

    
</settings>
